<div class="container">
    <div class="row">
        <div class="col-md-12 text-center py-4">
            <p>&copy; 2023 Asad Habeeb. All Rights Reserved</p>
            <a href="https://www.linkedin.com/in/asad-habeeb-330318261" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin-in fa-xl mx-2 mr-3"></i>
                <span class="sr-only">LinkedIn</span>
            </a>
            <a href="https://github.com/asadhabeeb0" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github fa-xl mx-2 ml-3"></i>
                <span class="sr-only">GitHub</span>
            </a>
            <a href="mailto:asadhabeeb0@gmail.com" target="_blank" rel="noopener noreferrer">
                <i class="fa-solid fa-envelope fa-xl mx-2 ml-3"></i>
                <span class="sr-only">Email</span>
            </a>
        </div>
    </div>
</div>