<div class="container-fluid mt-5 about-style" id="projectsid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">My Projects</h1>
            <div class="row">
                <div class="col-md-10 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>I AM MEAN STACK DEVELOPER</h1>
                    <p>
                    <h3>Projects</h3>
                    <ul>
                        <li><strong>Backend Website</strong> <br>Code Review:<a
                                href="https://github.com/asadhabeeb0/Node-Login-Logout" target="_blank"
                                rel="noopener noreferrer">Backend Website</a></li>
                        <li><strong>Task Tracker</strong> <br>Code Review:<a
                                href="https://github.com/asadhabeeb0/Task-Tracker" target="_blank"
                                rel="noopener noreferrer">Task Tracker</a></li>
                        <li><strong>Redis App</strong> <br>Code Review:<a
                                href="https://github.com/asadhabeeb0/User-Crud" target="_blank"
                                rel="noopener noreferrer">Redis App</a></li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>