<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">My Services</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services fe">
                            <div class="icon">
                                <img src="https://i.imgur.com/AgyneKA.png" alt="image not found">
                            </div>
                            <h4>Front End</h4>
                            <p>Crafting dynamic and interactive web applications with AngularJS the cross-platform
                                framework to provide engaging user experiences</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services be">
                            <div class="icon">
                                <img src="https://i.imgur.com/AgyneKA.png" alt="image not found">
                            </div>
                            <h4>Back End</h4>
                            <p>Empowering web applications with robust and efficient back-end solutions using Node.js,
                                ensuring speed, scalability and reliability</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services db">
                            <div class="icon">
                                <img src="https://i.imgur.com/AgyneKA.png" alt="image not found">
                            </div>
                            <h4>Database</h4>
                            <p>Expertise in MongoDB and CouchDB database solutions to store, manage, and retrieve data
                                efficiently, tailoring choices to meet your goals</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ad">
                            <div class="icon">
                                <img src="https://i.imgur.com/vdH9LKi.png" alt="image not found">
                            </div>
                            <h4>API Development</h4>
                            <p>Crafting robust and efficient RESTful APIs to power your web applications, 
                                ensuring seamless data communication and integration for enhanced functionality and user experience</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services re">
                            <div class="icon">
                                <img src="https://i.imgur.com/vdH9LKi.png" alt="image not found">
                            </div>
                            <h4>Redis</h4>
                            <p>Experienced in optimizing performance and scalability using Redis, leveraging its caching and data store capabilities for high-efficiency data management in your web applications</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services dk">
                            <div class="icon">
                                <img src="https://i.imgur.com/vdH9LKi.png" alt="image not found">
                            </div>
                            <h4>Virtualization</h4>
                            <p>Expertise in utilizing Docker and Kubernetes to containerize and orchestrate your applications, ensuring efficient management, security and scaling in these virtualized environments</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>